<div class="logo text-center">
    <img width="300" src="assets/Untitled.jpeg" alt="">
</div>

<div class="registration-form m-3 p-4">
    <form>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="First Name">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                   
                  </mat-form-field>
                
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Last Name">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
               
              </mat-form-field>
            </div>

            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                   
                  </mat-form-field>
                
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                <mat-label>Mobile Number</mat-label>
                <input matInput placeholder="Mobile Number">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
               
              </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Weight</mat-label>
                    <input matInput placeholder="Weight">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-hint>Unit is meters</mat-hint>
                  </mat-form-field>
                
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                <mat-label>Height</mat-label>
                <input matInput placeholder="Height">
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Unit is kg</mat-hint>
              </mat-form-field>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-6"></div>

            
            
            

        </div>

    </form>
</div>